<footer id="foot" class="wrapper py-lg bg-dark text-light-glare grid md:grid-cols-1 gap-x-900">
    <div class="flow-y flow-space-100">
        <p class="h4">Kontakt info</p>
        <ul>
            <li>{{ site_settings.address }}</li>
            {{ if site_settings.email }}<li><span>Email </span><a href="mailto:{{ site_settings.email }}">{{ site_settings.email }}</a></li>{{ endif }}
            {{ if site_settings.phone }}<li><span>Telefon: </span><a href="tel:{{ site_settings.phone }}">{{ site_settings.phone }}</a></li>{{ endif }}
        </ul>
    </div>
</footer>