<header class="flex flex-col absolute z-50 w-full">
     <div class="h-700">
          dsad
     </div>
     <div class="wrapper ">
          <div class="flex justify-end h-950 bg-light rounded-sm relative">
               <a class="absolute left-gutter -translate-y-700 bg-dark-glare text-light-glare aspect-5/4 border-b-8 border-b-primary rounded-b-sm h-[calc(var(--size-700)+var(--size-950)+var(--size-400))] shadow-2xl shadow-black/70 flex items-center justify-center" href="/" aria-label="Gå til forsiden">{{ svg src="logo" class="h-[40%] w-auto" }}</a>
               <nav class="ml-[15rem]">
                    <menu class="flex items-center gap-[1.8em] font-semibold">
                         {{ nav:main_nav }}
                              <li><a href="{{ url }}">{{ title }}</a></li>
                         {{ /nav:main_nav }}
                         <li><a class="bg-dark h-950 flex items-center px-2em text-light-glare" href="">Kontakt</a></li>
                    </menu>
               </nav>
          </div>
          
     </div>
</header>