<section class="wrapper py-lg" id="{{ type }}">
    <ul class="grid md:grid-cols-3 gap-gutter">
        {{ collection from="cars" }}
            <li class="flex flex-col flow-y flow-space-500">
                <div class="flex items-center justify-center bg-light aspect-4/3 @container">
                    {{ glide :src="featured_image" width="500" }}
                        <img width="{{ width }}" height="{{ height }}" class="w-full h-full object-cover" src="{{ url }}" alt="">
                    {{ /glide }}
                </div>
                <h3 class="h5">{{ title }}</h3>
                <p class="flow-space-05em opacity-70 grow">{{ text }}</p>
                <div class="flex gap-2 items-end leading-none flow-space-300">
                    <strong class="h3 text-500 [text-box:trim-both_cap_alphabetic]">{{ pris }}</strong>
                </div>
                 {{ partial:components/btn text="Kontakt mig" url="#foot" class="bg-dark text-light-glare text-sm self-start" }}
            </li>
        {{ /collection }}
    </ul>
</section>