<section class="bg-linear-90 from-dark to-dark-glare bg-cover bg-center text-light-glare relative">
    <div class="wrapper relative z-10">
        <div class="flow-y pt-[calc(var(--size-700)+var(--size-950)+var(--size-200)+var(--size-lg))] pb-lg prose-p:opacity-70 prose-p:text-300 prose-p:max-w-[60ch]">
            {{ text }}
            {{ partial:components/btn_group space="flow-space-700" }}
            {{ if stats }}
                <ul class="flex gap-600 items-center flow-space-800">
                    {{ stats }}
                        <li class="leading-none not-last-of-type:border-r not-last-of-type:border-white/15 pr-600 flex flex-col space-y-0.5">
                            <b class="font-heading text-700">{{ number }}</b>
                            <span class="text-xs opacity-60">{{ title }}</span>
                        </li>
                    {{ /stats }}
                    <li>
                        {{ svg src="trustpilot-logo" class="h-700 w-auto" }}
                    </li>
                </ul>
            {{ endif }}
        </div>
        {{ if image }}
            <div class="absolute bottom-0 right-0 w-[70%] max-w-[55rem] translate-y-[31%] hidden lg:block">
                {{ glide :src="image" width="1400" format="webp" quality="80" }}
                    <img class="w-full h-auto" src="{{ url }}" width="{{ width }}" height="{{ height }}" alt="">
                {{ /glide }}
            </div>
        {{ endif }}
    </div>
    {{ if bg_image }}
        <div class=" absolute inset-0 after:absolute after:inset-0 after:bg-linear-90 after:from-dark-shade/90 lg:after:from-dark-shade after:via-dark-shade/50 lg:after:via-dark-shade/80 after:to-dark-shade/20 lg:after:to-dark-shade">
            {{ partial:components/image :imagePath="bg_image" w="1200" h="700" q='50' class="w-full h-full object-cover"  }}
        </div>
        
    {{ endif }}

</section>




