@keyframes mt-fade-up {
    from { translate: 0 1.25rem; }
    to   { translate: 0 -1.25rem; }
}
@keyframes mt-fade-down {
    from { translate: 0 -1.25rem; }
    to   { translate: 0 1.25rem; }
}

@keyframes spin {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
}