@font-face {
  font-family: "Oxanium";
  src: url("/public/fonts/Oxanium-wght.woff2") format("woff2-variations");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}



h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
  text-wrap: balance;
  font-family: var(--font-heading);
  line-height: 1.1;
  font-weight: 350;
  text-transform: uppercase;
  letter-spacing: -.01em;
}
  
h1,
.h1 {
  font-size: var(--size-750);
  max-width: 30ch;
}

h2,
.h2 {
  font-size: var(--size-600);
  max-width: 40ch;
}

h3,
.h3 {
  font-size: var(--size-450);
  max-width: 55ch;
}

h4,
.h4 {
  font-size: var(--size-350);
}

h5,
.h5 {
  font-size: var(--size-200);
}

h6,
.h6 {
  font-size: var(--size-100);
}

p{
  text-wrap: pretty;
}

.title{
  text-transform: uppercase;
  letter-spacing: .05em;
}

.title + h1, .title + h2, .title + h3 {
  --flow-space: .5em;
}

.text-large{
  font-size: calc(1rem + 1px);
  font-weight: 600;
  line-height: var(--leading-relax);
}

p a {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 600;
}